#canvas {
   background-color: #f1f1f1;
}

body {
 overflow: hidden;
}

body, html {height:100vh;}

#CanvasHolder {
 height:100vh;
 margin-left:15%;
}

.accordion {
 height:100vh;
 width:15%;
 background-color : #021f35;
}

.formMeta {
 margin-left:25vw;
 margin-right:25vw;
}

.formFieldMeta {
 margin-left:25vw;
 margin-right:25vw;
}

.formSubmitBtn {
 margin-left:50vw;
}

.formFieldWD {
 width:50%;
 margin-left:25vw;
}

.changeTabStyle {
 background: linear-gradient(#515151, black);
}

.commentFieldStyle {
 height:200px;
}

.toolsStyle {
position:absolute;
left:40.6vw; /* ICI PENSER AU RESPONSIVE !! */
top: 90vh;
z-index:10;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 38px;
  left: -2px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 10;
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.metaHolder {
z-index:9;
}
