<!DOCTYPE html>

<html lang="fr">

   <head>
      <title>AUTH Processing Papyrus</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular.min.js"></script>
   </head>
   
  <body class="w3-black">
    <div class="w3-container w3-center w3-margin-top">

      <form action="login" class="w3-container w3-card-4" style="margin-top:25vh" ng-submit="login()" method="post">
        <p>
          <input name="username" id="username" class="w3-input" type="text" style="width:50%;margin-left:25%" placeholder="Entrez votre identifiant" ng-model="username" required />
        </p>
        <p>
          <input name="password" id="password" class="w3-input" type="password" style="width:50%;margin-left:25%" placeholder="Entrez votre mot de passe" ng-model="password" required />
        </p>
        
        <p>
          <button id="login" type="submit" ng-disabled="form.$invalid" class="w3-button w3-section w3-teal w3-ripple">S'authentifier</button>
        </p>
        
      </form>
    </div>
  </body>
  <script>
    $("#login").click(function(){
      $.getJSON("/login", function(result){
        console.log(result);
      });
    });
  </script>
</html>
