<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="fr">

   <head>
      <title>Processing Papyrus</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
      <script type="text/javascript" src="file:///home/user/Documents/Projet_S8/Papyrus_UI/App.js"></script>
      <script type="text/javascript" src="file:///home/user/Documents/Projet_S8/Papyrus_UI/Crtl.js"></script>
   </head>
   
   <body ng-app="PapyrusApp" class="w3-black">
      <div class="w3-bar w3-black w3-hide-small">
        <a class="w3-bar-item">Welcome on Papyrus Parser !</a>
        <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
      </div>
     
      <!-- ACCORDION -->
      <div class="w3-sidebar w3-card w3-bar-block w3-red" style="height:90vh;width:15%">
         <div ng-controller="RepeatPapyrus">
            <div ng-repeat="item in papyrus" >
               <div class="w3-bar-item w3-button" ng-click="AccFunc(item.Ref)">Papyrus {{item.Ref}}<i class="fa fa-caret-down"></i></div>
               
               <div id={{item.Ref}} ng-controller="PictCrtl" class="w3-hide w3-animate-zoom w3-white w3-card-4">
                  <a ng-click="showFunc(item.RCL)" class="w3-bar-item w3-button">Recto_CL</a>
                  <a ng-click="showFunc(item.VCL)" class="w3-bar-item w3-button">Verso_CL</a>
                  <a ng-click="showFunc(item.RIR)" class="w3-bar-item w3-button">Recto_IR</a>
                  <a ng-click="showFunc(item.VIR)" class="w3-bar-item w3-button">Verso_IR</a>
               </div>
            </div>
         </div>
      </div>
      <!-- END ACCORDION -->
      
      <!-- CANVAS -->
      <div ng-controller="CanvasCrtl">
         <div ng-mousemove="Coord($event)" class="w3-white w3-center" style="height:90vh;margin-left:15%">
            <!--https://nicophil.wordpress.com/2014/06/11/angularjs-ajouter-une-directive-dynamiquement/-->
            <div id="PictHolder"></div>
         </div>
      </div>
      <!-- ACCORDION -->
   </body>
</html>
