<!DOCTYPE html>

<html lang="fr">

   <head>
      <title>Processing Papyrus</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" type="text/css" href="Css/Canvas.css">
      <link rel="stylesheet" type="text/css" href="Css/Sidebar.css">
      <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular-animate.min.js"></script>
      <script type="text/javascript" src="Engine/PapyrusTable.js"></script>
      <script type="text/javascript" src="Engine/App.js"></script>
      <script type="text/javascript" src="Engine/Crtl.js"></script>
      <script type="text/javascript" src="Engine/ManageCanvas.js"></script>
      <script type="text/javascript" src="Engine/ManagePict.js"></script>
   </head>
   
   <body ng-app="PapyrusApp" class="w3-black" onload="startCanvas()">
      <div class="w3-bar w3-black w3-hide-small">
        <a class="w3-bar-item">Welcome on Papyrus Parser !</a>
      </div>
     
      <!-- ACCORDION -->
      <div class="w3-sidebar w3-card w3-bar-block w3-red" style="height:100vh;width:15%">
        <div ng-controller="RepeatPapyrus">
            <div ng-repeat="item in papyrus" >
               <div class="w3-bar-item w3-button" ng-click="AccFunc(item.Ref)">
				   Papyrus {{item.Ref}} <img id={{item.THB}} src={{item.RCL}} draggable="true" ondragstart="drag(event)" alt="Thumb not found"></img>
				   <i class="fa fa-caret-down"></i>
               </div>
               
               <div id={{item.Ref}} ng-controller="PictCrtl" class="w3-hide w3-animate-zoom w3-white w3-card-4">
                  <a ng-click="changeAttr(item.RCL,item.Ref)" class="w3-bar-item w3-button">Recto_CL</a>
                  <a ng-click="changeAttr(item.VCL,item.Ref)" class="w3-bar-item w3-button">Verso_CL</a>
                  <a ng-click="changeAttr(item.RIR,item.Ref)" class="w3-bar-item w3-button">Recto_IR</a>
                  <a ng-click="changeAttr(item.VIR,item.Ref)" class="w3-bar-item w3-button">Verso_IR</a>
               </div>
            </div>
         </div>
      </div>
      <!-- END ACCORDION -->
      
      <!-- CANVAS -->
      <div id="CanvasHolder" class="w3-center" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <!-- ACCORDION -->
   </body>
</html>
