<!DOCTYPE html>

<html lang="fr">

   <head>
      <title>Processing Papyrus</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" type="text/css" href="Css/Canvas.css">
      <link rel="stylesheet" type="text/css" href="Css/Sidebar.css">
      <link rel="stylesheet" type="text/css" href="Css/Form.css">
      <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular-animate.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="Engine/PapyrusTable.js"></script>
      <script type="text/javascript" src="Engine/App.js"></script>
      <script type="text/javascript" src="Engine/Crtl.js"></script>
      <script type="text/javascript" src="Engine/ManageCanvas.js"></script>
      <script type="text/javascript" src="Engine/ManagePict.js"></script>
   </head>

   <body ng-app="PapyrusApp" class="w3-black" onload="Area.start()">
      <div ng-controller="ChangeTab" id= "barre" class="w3-bar w3-hide-small" style="background: linear-gradient(#515151, black);" >

        <button class="w3-bar-item w3-button" id="trash" title="remove image selected" style="float: right;">
          <i class="fas fa-trash"></i>
        </button>

        <button class="w3-bar-item w3-button" id="zoom-out" title="zoom-out" style="float: right;">
          <i class="fas fa-search-minus"></i>
        </button>

        <button class="w3-bar-item w3-button" id="zoom-in" title="zoom-in" style="float: right;">
          <i class="fas fa-search-plus"></i>
        </button>

        <button class="w3-bar-item w3-button" id="rotateL" title="rotate left" style="float: right;">
          <i class="fas fa-undo"></i>
        </button>


        <button class="w3-bar-item w3-button" id="rotateR" title="rotate right" style="float: right;">
          <i class="fas fa-redo"></i>
        </button>

        <button class="w3-bar-item w3-button" id="resize" title="real size" style="float: right;">
          <i class="fas fa-eye"></i>
        </button>

        <button class="w3-bar-item w3-button" id="light"  title="dark/light mode" style="float: right";>
          <i class="fas fa-moon"></i>
        </button>



        <div class="w3-dropdown-click"  style="float: right;">
          <button class="w3-bar-item w3-button" ng-click="AccFunc('visu')" title="visualization mode">
              <i class="fas fa-adjust"></i>
          </button>
          <p></p><p></p>
          <div id="visu" class="w3-dropdown-content w3-bar-block w3-border">
            <a id="R_CL" class="w3-bar-item w3-button">Recto_CL</a>
            <a id="V_CL" class="w3-bar-item w3-button">Verso_CL</a>
            <a id="R_IR" class="w3-bar-item w3-button">Recto_IR</a>
            <a id="V_IR" class="w3-bar-item w3-button">Verso_IR</a>

        </div>
        </div>

	        <button class="w3-bar-item w3-button tablink w3-black" ng-click="tabSwitch($event,'canvas')">Canvas</button>
		    <button class="w3-bar-item w3-button tablink" ng-click="tabSwitch($event,'form')">Formulaire</button>
		    <button class="w3-bar-item w3-button tablink" ng-click="tabSwitch($event,'wd')">Créer un répertoire</button>
      </div>

      <!-- TAB 1 : Canvas -->
      <div id="canvas" class="tab">
		  <!-- ACCORDION -->
	      <div class="w3-sidebar w3-card w3-bar-block" style="height:100vh;width:15%;background-color : #021f35;">
	        <div ng-controller="RepeatPapyrus">
	            <div ng-repeat="item in papyrus" >
	               <div class="w3-bar-item w3-button" ng-click="AccFunc(item.Ref)">
					   Papyrus {{item.Ref}} <img id={{item.THB}} src={{item.RCL}} draggable="true" ondragstart="drag(event)" alt="Thumb not found"></img>
					   <i class="fa fa-caret-down"></i>
	               </div>

	               <div id={{item.Ref}} ng-controller="PictCrtl" class="w3-hide w3-animate-zoom w3-white w3-card-4">
	                  <a ng-click="changeAttr(item.RCL,item.Ref)" class="w3-bar-item w3-button">Recto_CL</a>
	                  <a ng-click="changeAttr(item.VCL,item.Ref)" class="w3-bar-item w3-button">Verso_CL</a>
	                  <a ng-click="changeAttr(item.RIR,item.Ref)" class="w3-bar-item w3-button">Recto_IR</a>
	                  <a ng-click="changeAttr(item.VIR,item.Ref)" class="w3-bar-item w3-button">Verso_IR</a>
	               </div>
	            </div>
	         </div>
	      </div>
	      <!-- END ACCORDION -->

	      <!-- CANVAS -->
       <!-- <div id="Trash" class="fas fa-trash" ondrop="dropTrash(event)"></div> !-->
	      <div id="CanvasHolder" class="w3-center" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="metaDatas"></div>
      </div>
      <!-- END TAB 1 : Canvas -->

      <!-- TAB 2 : FORM -->
      <div id="form" class="tab w3-center" >
        <h2>Modifiez des métadonnées</h2>
        <form action="/metadatas" method="post">

		    <div class="w3-row w3-padding-16" style="margin-left:25vw;margin-right:25vw">
          <div></div>
		      <div class="w3-col s12 m5 l5"> <label for="id">Papyrus Id</label> </div>
		      <div class="w3-col s12 m5 l5"> <input type="text" id="idp" name="id"> </div>
		    </div>

		    <div class="w3-row w3-padding-16" style="margin-left:25vw;margin-right:25vw">
		      <div class="w3-col s12 m5 l5"> <label for="ImageType">Image Type</label> </div>
		      <div class="w3-col s12 m5 l5">
            <select id="ImageType" name="ImageType">
                <option value="RectoColor">RC (Recto Color)</option>
                <option value="VersoColor">VC (Verso Color)</option>
                <option value="RectoIR">RI (Recto IR)</option>
                <option value="VersoIR">VI (Verso IR)</option>
            </select>
          </div>
        </div>

        <div class="w3-row w3-padding-16" style="margin-left:25vw;margin-right:25vw">
          <div class="w3-col s12 m5 l5">
            <label for="Origins">Origins</label>
          </div>
          <div class="w3-col s12 m5 l5">
            <input type="text" id="lname" name="lastname">
          </div>
        </div>

        <div class="w3-row w3-padding-16" style="margin-left:25vw;margin-right:25vw">
          <div class="w3-col s12 m5 l5">
            <label for="HDimension">Height Dimension</label>
          </div>
          <div class="w3-col s12 m5 l5">
            <input type="number" step="any" min="0" id="Height" name="Height">
          </div>
        </div>

        <div class="w3-row w3-padding-16" style="margin-left:25vw;margin-right:25vw">
          <div class="w3-col s12 m5 l5">
            <label for="WDimension">Width Dimension</label>
          </div>
          <div class="w3-col s12 m5 l5">
            <input type="number" step="any" min="0" id="Width" name="Width">
          </div>
        </div>

		    <div class="w3-row w3-padding-16" style="margin-left:25vw;margin-right:25vw">
		      <div class="w3-col s12 m5 l5"> <label for="Commentaires">Add Comments</label> </div>
		      <div class="w3-col s12 m5 l5">
		        <textarea id="Comments" name="Commentaires" style="height:200px"></textarea>
		      </div>
		    </div>

		    <div class="w3-row w3-padding-16" style="margin-left:50vw">
		      <input id="formSubmit" type="submit" value="Submit" class="w3-hover-opacity w3-col s12 m3 l3">
		    </div>
		    </form>
      </div>
      <!-- END TAB 2 : FORM -->

      <!-- TAB 3 : WORKING DIR -->
      <div id="wd" class="tab w3-center">
        <h2>Créez votre repertoire de travail</h2>
        <form action="wd" class="w3-container w3-card-4 w3-padding-16" ng-submit="login()" method="post">
          <p>
            <input name="username" id="username" class="w3-input" type="text" style="width:50%;margin-left:25vw" placeholder="Identifiants ou nom de projet" ng-model="username" required />
          </p>
          <p>
            <input name="password" id="password" class="w3-input" type="password" style="width:50%;margin-left:25vw" placeholder="Entrez votre mot de passe" ng-model="password" required />
          </p>

          <p>
            <button type="submit" ng-disabled="form.$invalid" class="w3-button w3-section w3-teal w3-ripple">Créer répertoire</button>
          </p>

        </form>
      </div>
      <!-- END TAB 3 : WORKING DIR -->

   </body>
</html>
