<!DOCTYPE html>

<html lang="fr">

   <head>
      <title>Processing Papyrus</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="Css/Interface.css">
      <link rel="stylesheet" type="text/css" href="Css/Sidebar.css">
      <link rel="stylesheet" type="text/css" href="Css/Form.css">
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular-animate.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="Engine/App.js"></script>
      <script type="text/javascript" src="Engine/Crtl.js"></script>
      <script type="text/javascript" src="Engine/ManageCanvas.js"></script>
      <script type="text/javascript" src="Engine/ManagePict.js"></script>
   </head>

   <body ng-app="PapyrusApp" class="w3-black" onload="Area.start()">

      <div ng-controller="ChangeTab" class="changeTabStyle w3-bar w3-hide-small">
        <button class="w3-bar-item w3-button tablink w3-black" ng-click="tabSwitch($event,'canvas')">Canvas</button>
		    <button class="w3-bar-item w3-button tablink" ng-click="tabSwitch($event,'form')">Formulaire</button>
		    <button class="w3-bar-item w3-button tablink" ng-click="tabSwitch($event,'wd')">Créer un répertoire</button>
		    <button class="w3-bar-item w3-button tablink" ng-click="tabSwitch($event,'comp')">Sauvegarder/Détruire Compound</button>
      </div>

      <!-- TAB 1 : Canvas -->
      <div id="canvas" class="tab">
		  <!-- ACCORDION -->
	      <div class="accordion w3-sidebar w3-card w3-bar-block">
	        <div ng-controller="RepeatPapyrus">
	            <div ng-repeat="item in papyrus" >
	               <div class="w3-bar-item w3-button" ng-click="AccFunc(item.Ref)">
					   Papyrus {{item.Ref}} <img id={{item.THB}} src={{item.RCL}} draggable="true" ondragstart="drag(event)" ontouchmove="drag(event)" alt="Thumb not found"></img>
					   <i class="fa fa-caret-down"></i>
	               </div>

	               <div id={{item.Ref}} ng-controller="PictCrtl" class="w3-hide w3-animate-zoom w3-white w3-card-4">
	                  <a ng-click="changeAttr(item.RCL,item.Ref)" class="w3-bar-item w3-button">Recto_CL</a>
	                  <a ng-click="changeAttr(item.VCL,item.Ref)" class="w3-bar-item w3-button">Verso_CL</a>
	                  <a ng-click="changeAttr(item.RIR,item.Ref)" class="w3-bar-item w3-button">Recto_IR</a>
	                  <a ng-click="changeAttr(item.VIR,item.Ref)" class="w3-bar-item w3-button">Verso_IR</a>
	               </div>
	            </div>
	         </div>
	      </div>
	      <!-- END ACCORDION -->
        
        <!-- ToolBox -->
        <div ng-controller="ToolsCommand" class="toolsStyle changeTabStyle">
          <button ng-click="RemoveImage()" class="w3-button w3-right" title="Remove selection">
            <i class="fas fa-trash"></i>
          </button>
  
          <button ng-click="ZoomOut()" class="w3-button w3-right" title="Zoom-out">
            <i class="fas fa-search-minus"></i>
          </button>
  
          <button ng-click="ZoomIn()" class="w3-button w3-right" title="Zoom-in">
            <i class="fas fa-search-plus"></i>
          </button>
  
          <button ng-click="RotateLeft()" class="w3-button w3-right" title="Rotate left">
            <i class="fas fa-undo"></i>
          </button>
  
          <button ng-click="RotateRight()" class="w3-button w3-right" title="Rotate right">
            <i class="fas fa-redo"></i>
          </button>
  
          <button ng-click="RealSize()" class="w3-button w3-right" title="Size 1:1">
            <i class="fas fa-bullseye"></i>
          </button>
  
          <button ng-click="MetaData()" class="w3-button w3-right" title="Display metadatas">
            <i class="fas fa-eye"></i>
          </button>
  
          <button class="w3-button w3-right" title="Disassemble compound">
            <i class="fas fa-expand-arrows-alt"></i>
          </button>
  
          <button ng-click="ChangeLight()" class="w3-button w3-right" title="Dark/light mode">
            <i class="fas fa-moon"></i>
          </button>
  
          <div class="w3-right">
            <button class="w3-button" ng-click="AccFunc('visual')" title="visualization mode">
                <i class="fas fa-adjust"></i>
            </button>
            <div id="visual" class="dropup-content w3-bar-block w3-border">
              <a ng-click='ChangeVisual("RCL")' class="w3-bar-item w3-button">Recto_CL</a>
              <a ng-click='ChangeVisual("VCL")' class="w3-bar-item w3-button">Verso_CL</a>
              <a ng-click='ChangeVisual("RIR")' class="w3-bar-item w3-button">Recto_IR</a>
              <a ng-click='ChangeVisual("VIR")' class="w3-bar-item w3-button">Verso_IR</a>
            </div>
          </div>
        </div>
        <!-- END ToolBox -->
        
	      <!-- CANVAS -->
	      <div id="CanvasHolder" class="w3-center" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      <!-- END TAB 1 : Canvas -->

      <!-- TAB 2 : FORM -->
      <div id="form" class="tab w3-center" >
        <h2>Modifiez des métadonnées</h2>
        <form action="/metadatas" method="post">

		    <div class="formMeta w3-row w3-padding-16">
          <div></div>
		      <div class="w3-col s12 m5 l5"> <label for="id">Papyrus Id</label> </div>
		      <div class="w3-col s12 m5 l5"> <input type="text" id="idp" name="id"> </div>
		    </div>

		    <div class="formFieldMeta w3-row w3-padding-16">
		      <div class="w3-col s12 m5 l5"> <label for="ImageType">Image Type</label> </div>
		      <div class="w3-col s12 m5 l5">
            <select id="ImageType" name="ImageType">
                <option value="RectoColor">RC (Recto Color)</option>
                <option value="VersoColor">VC (Verso Color)</option>
                <option value="RectoIR">RI (Recto IR)</option>
                <option value="VersoIR">VI (Verso IR)</option>
            </select>
          </div>
        </div>

        <div class="formFieldMeta w3-row w3-padding-16">
          <div class="w3-col s12 m5 l5">
            <label for="Origins">Origins</label>
          </div>
          <div class="w3-col s12 m5 l5">
            <input type="text" id="lname" name="lastname">
          </div>
        </div>

        <div class="formFieldMeta w3-row w3-padding-16">
          <div class="w3-col s12 m5 l5">
            <label for="HDimension">Height Dimension</label>
          </div>
          <div class="w3-col s12 m5 l5">
            <input type="number" step="any" min="0" id="Height" name="Height">
          </div>
        </div>

        <div class="formFieldMeta w3-row w3-padding-16">
          <div class="w3-col s12 m5 l5">
            <label for="WDimension">Width Dimension</label>
          </div>
          <div class="w3-col s12 m5 l5">
            <input type="number" step="any" min="0" id="Width" name="Width">
          </div>
        </div>

		    <div class="formFieldMeta w3-row w3-padding-16">
		      <div class="w3-col s12 m5 l5"> <label for="Commentaires">Add Comments</label> </div>
		      <div class="w3-col s12 m5 l5">
		        <textarea id="Comments" name="Commentaires" class="commentFieldStyle"></textarea>
		      </div>
		    </div>

		    <div class="formSubmitBtn w3-row w3-padding-16">
		      <input id="formSubmit" type="submit" value="Submit" class="w3-hover-opacity w3-col s12 m3 l3" />
		    </div>
		    </form>
      </div>
      <!-- END TAB 2 : FORM -->

      <!-- TAB 3 : WORKING DIR -->
      <div id="wd" class="tab w3-center">
        <h2>Créez votre repertoire de travail</h2>
        <form action="wd" class="w3-container w3-card-4 w3-padding-16" ng-submit="login()" method="post">
          <p>
            <input name="username" id="username" class="formFieldWD w3-input" type="text" placeholder="Identifiants ou nom de projet" ng-model="username" required />
          </p>
          <p>
            <input name="password" id="password" class="formFieldWD w3-input" type="password" placeholder="Entrez votre mot de passe" ng-model="password" required />
          </p>

          <p>
            <button type="submit" ng-disabled="form.$invalid" class="w3-button w3-section w3-teal w3-ripple">Créer répertoire</button>
          </p>

        </form>
        <button ng-click="RemoveDir()" class="w3-red w3-button w3-padding-16 w3-ripple">Supprimer répertoire</button>
        <p class="w3-center w3-padding-16"><span class="fas fa-exclamation-triangle w3-red"></span> <i>Supprimer son repertoire est irréversible !</i> <span class="fas fa-exclamation-triangle w3-red"></span></p>
      </div>
      <!-- END TAB 3 : WORKING DIR -->

      <!-- TAB 4 : COMPOUND -->
      <div ng-controller="UploadImage" id="comp" class="tab w3-center">
        <h2>Exporter ou détruire un assemblage</h2>

        <button ng-click="genThbCanvas()" class="btn w3-center"><i class="far fa-image"></i>Aperçu (générer image)</button>

        <img ng-show="viewImg" src="" id="thumbnailCanvas" class="viewImgStyle w3-center"/> <!-- Adapter CSS !! -->

        <button ng-click="UploadCanvas()" class="btn w3-center"><i class="fas fa-upload"></i>Upload canvas image</button>
      </div>
      <!-- END TAB 4 : COMPOUND -->
   </body>
</html>
